*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 3em;
}

.cards_item {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  margin: auto;
}

.no-products {
  display: flex;
  margin: auto;
  width: 100%;
  height: 250px;
  justify-content: end;
  align-items: center;
  flex-direction: column;

  img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 45%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 30%;
  }
}

@media (max-height: 600px) {
  .no-products {
    justify-content: start;
  }
}
